.display-edu-list-displaypage{
    display: flex;
    
}
/* .edit-icons-edu{
    margin-top: 0.9rem;
} */
.experience-section-display{
    display: flex;
}
/* .edit-icons-exp{
    margin-top: 0.9rem;
} */